{% extends "master.html" %}

{% block content %}
  <div id="wrapper" class="row" style="padding-bottom:20px;">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="col-3" align="center" style="padding-right: 50px;">
      <div class="list-group">
{#        <a href="/user_panel" class="list-group-item list-group-item-action">پنل کاربری</a>#}
{#        <a href="/edit_profile" class="list-group-item list-group-item-action">ویرایش پروفایل</a>#}
        <a href="{% url 'ads:my-ads'%}" class="list-group-item list-group-item-action">آگهی‌های من</a>
        <a href="{% url 'users:change-password'%}" class="list-group-item list-group-item-action active">تغییر رمز عبور</a>
        <a href="{% url 'users:edit-profile'%}" class="list-group-item list-group-item-action">تغییر شماره تلفن</a>
{#        <a href="/add_credit" class="list-group-item list-group-item-action">اضافه کردن اعتبار</a>#}
{#        <a href="/withdraw_credit" class="list-group-item list-group-item-action">برداشت پول از اعتبار</a>#}
{#        <a href="/anonymous_transfer" class="list-group-item list-group-item-action">واریز مخفیانهٔ پول</a>#}
{#        <a href="/transactions" class="list-group-item list-group-item-action">تاریخچهٔ تراکنش‌ها</a>#}
      </div>
    </div>

    <div id="page-content-wrapper" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px">

      <div class="form-group row" align="right">
        <h3>رمز عبور شما با موفقیت تغییر کرد</h3>
      </div>

    </div>

  </div>

{% endblock content %}



