{% extends "master.html" %}

{% block content %}
  <div id="wrapper" class="row" style="padding-bottom:20px;">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="col-3" align="center" style="padding-right: 50px;">
      <div class="list-group">
        {% if user.member.type == 'S' %}
            <a href="{% url 'ads:my-ads'%}" class="list-group-item list-group-item-action">تبلیغ‌های من</a>
        {% endif %}
        <a href="{% url 'users:change-password'%}" class="list-group-item list-group-item-action active">تغییر رمز عبور</a>
        <a href="{% url 'users:edit-profile'%}" class="list-group-item list-group-item-action">تغییر شماره تلفن و آدرس</a>
      </div>
    </div>

    <div id="page-content-wrapper" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px">

      <div class="form-group row" align="right">
        <h3>رمز عبور شما با موفقیت تغییر کرد</h3>
      </div>

    </div>

  </div>

{% endblock content %}



