{% extends "master.html" %}

{% block content %}
  <div id="wrapper" class="row" style="padding-bottom:20px;">
    <div id="sidebar-wrapper" class="col-3" align="center" style="padding-right: 50px;">
      <div class="list-group">
        {% if user.type == 'S' %}
            <a href="{% url 'ads:my-ads' %}" class="list-group-item list-group-item-action">آگهی‌های من</a>
        {% endif %}
        <a href="{% url 'users:change-password' %}" class="list-group-item list-group-item-action">تغییر رمز عبور</a>
        <a href="{% url 'users:edit-profile' %}" class="list-group-item list-group-item-action active">تغییر شماره تلفن و آدرس</a>
      </div>
    </div>

    <div id="page-content-wrapper" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px">
      {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="form_errors">
          <ul>
            <strong>خطاهای زیر پیش آمده:</strong>
            {{ form.non_field_errors }}
            {% for field in form %}
              {% if field.errors %}
                <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
          </ul>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}

      {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="custom_errors">
          <ul>
            {% for key, value in errors.items %}
              <strong>خطاهای زیر پیش آمده:</strong>
              <li>{{ key }}: {{ value }}</li>
            {% endfor %}
          </ul>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}


      <form method="post">
        {% csrf_token %}
        <div class="form-group row" align="right">
          <h3 class="col-sm-6">ویرایش پروفایل</h3>
        </div>


        <div class="form-group row">
          <label for="phone" class="col-sm-2 col-form-label">شماره تلفن</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="phone" name="phone"
                   value="{{ form.phone.value }}" placeholder="" dir="ltr">
          </div>
        </div>

        <div class="form-group row">
          <label for="address" class="col-sm-2 col-form-label">آدرس</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="address" name="address"
                   value="{{ form.address.value }}" placeholder="" dir="ltr">
          </div>
        </div>

        <div style="padding-left: 150px">
          <button type="submit" class="btn btn-primary" name="submit_button" id="submit_button">ثبت</button>
        </div>

      </form>
    </div>

  </div>

  <script src="/static/js/Translator.js"></script>
{% endblock content %}

