{% for ad in ads %}
    {% if forloop.counter0|divisibleby:3 %}
        <div class="row" align="center">
    {% endif %}

<div class="col-lg-4 mb-4">
    <div class="card h-100">

        {% if ad.image %}
            <a href="/ads/view/{{ ad.id }}"><img class="card-img-top" src="{{ ad.image.image.url }}" alt=""></a>
        {% else %}
            <a href="/ads/view/{{ ad.id }}"><img class="card-img-top" src="/static/images/no_photo.png"
                                                 alt=""></a>
        {% endif %}

        <h4 class="card-header">{{ ad.name }}</h4>
        <div class="card-body">
            <p class="card-text">{{ ad.info }}</p>
        </div>
        <div class="card-footer">
            <a href="/ads/view/{{ ad.id }}" class="btn btn-primary">توضیحات بیشتر</a>
        </div>
    </div>
</div>

{% if forloop.counter0|add:1|divisibleby:3 or forloop.counter == ss|length %}
    </div>
{% endif %}

{% empty %}
    <h2>آگهی‌ای پیدا نشد</h2>
{% endfor %}

<input type="hidden" id="maxPage" name="maxPage" value={{ max_page }}>