{% extends "master.html" %}

{% block content %}

    <div id="page-content-wrapper" align="center">
        <div class="col-md-8" align="center">
            {% if form.errors %}
                <!-- Error messaging -->
                <div id="form_errors" style="background: #ffcccc;">
                    <div class="inner">
                        <p>خطاهای زیر پیش آمده:</p>
                        {{ form.non_field_errors }}
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}
                                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="container p-5" dir="rtl">
            <div class="row justify-content-center">
                <div class="col-md-6" align="center">

                    <div class="card" style="background: #E0E0E0; padding-right: 20px">
                        <div class="card-header text-right">اطلاعات آگهی خود را وارد نمایید</div>

                        <div class="card-body" align="center">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="title" class="col-form-label">عنوان&nbsp;&nbsp;</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="title" required
                                               name="title"
                                               dir="rtl">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="select1" class="col-form-label">دسته‌بندی سطح ۱</label>
                                    <div class="col-sm-5 ">
                                        <select class="form-control" id="select1" name="select1" dir="rtl" required>
                                            <option value="">---------</option>
                                            {% for category in cats %}
                                                <option value="{{ category.id }}">{{ category.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="select2" class="col-form-label">دسته‌بندی سطح ۲</label>
                                    <div class="col-sm-5 ">
                                        <select class="form-control" id="select2" name="select2" dir="rtl" required>
                                            <option value="">---------</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="category" class="col-form-label">دسته‌بندی سطح ۳</label>
                                    <div class="col-sm-5 ">
                                        <select class="form-control" id="category" name="category" dir="rtl" required>
                                            <option value="">---------</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="desc" class="col-form-label">توضیح</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="7" id="desc" name="description"
                                                  dir="rtl" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="price" class="col-form-label">قیمت&nbsp;&nbsp;</label>
                                    <div class="col-sm-5">
                                        <input type="number" min="-1" class="form-control" id="price"
                                               name="price"
                                               dir="ltr" required>
                                    </div>
                                    <label for="is_agreement" class="col-form-label">توافقی</label>
                                    <div class="col-sm-1" onchange="agreement()">
                                        <input type="checkbox" id="is_agreement" name="is_agreement">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="state" class="col-form-label">استان&nbsp;&nbsp;</label>
                                    <div class="col-sm-5 ">
                                        <select class="form-control" required id="state" name="state"
                                                onchange="showCity(this.value)">
                                            <option value=""></option>
                                            <option value="آذربایجان شرقی">آذربایجان شرقی</option>
                                            <option value="آذربایجان غربی">آذربایجان غربی</option>
                                            <option value="اردبیل">اردبیل</option>
                                            <option value="اصفهان">اصفهان</option>
                                            <option value="ایلام">ایلام</option>
                                            <option value="بوشهر">بوشهر</option>
                                            <option value="تهران">تهران</option>
                                            <option value="چهارمحال و بختیاری">چهارمحال و بختیاری</option>
                                            <option value="خراسان جنوبی">خراسان جنوبی</option>
                                            <option value="خراسان رضوی">خراسان رضوی</option>
                                            <option value="خراسان شمالی">خراسان شمالی</option>
                                            <option value="خوزستان">خوزستان</option>
                                            <option value="زنجان">زنجان</option>
                                            <option value="سمنان">سمنان</option>
                                            <option value="سیستان و بلوچستان">سیستان و بلوچستان</option>
                                            <option value="فارس">فارس</option>
                                            <option value="قزوین">قزوین</option>
                                            <option value="قم">قم</option>
                                            <option value="کردستان">کردستان</option>
                                            <option value="کرمان">کرمان</option>
                                            <option value="کرمانشاه">کرمانشاه</option>
                                            <option value="کهگیلویه و بویراحمد">کهگیلویه و بویراحمد</option>
                                            <option value="گلستان">گلستان</option>
                                            <option value="گیلان">گیلان</option>
                                            <option value="لرستان">لرستان</option>
                                            <option value="مازندران">مازندران</option>
                                            <option value="مرکزی">مرکزی</option>
                                            <option value="هرمزگان">هرمزگان</option>
                                            <option value="همدان">همدان</option>
                                            <option value="یزد">یزد</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="city" class="col-form-label">شهر&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="col-sm-5 ">
                                        <select class="form-control" id="city" name="city" required>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="is_urgent" class=" col-form-label">فوری&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                    <div class="col-sm-1">
                                        <div class="checkbox">
                                            <input type="checkbox" id="is_urgent" name="is_urgent">
                                        </div>
                                    </div>
                                </div>

                                <table class="table">
                                    {{ images }}
                                </table>

                                <div class="form-group row mb-0">
                                    <div class="col-md-8 offset-md-4">
                                        <button type="submit" class="btn btn-outline-primary" name="submit" id="submit">
                                            ایجاد
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/category_dropdown.js"></script>
    <script src="/static/js/agreement_price.js"></script>

{% endblock %}
