{% extends "master.html" %}

{% block content %}
    <div id="wrapper" class="row" style="padding-bottom:20px;">
        <div id="sidebar-wrapper" class="col-3" align="center" style="padding-right: 50px;">
            <div class="list-group">
                <a href="{% url 'ads:my-ads' %}" class="list-group-item list-group-item-action active">تبلیغ‌های من</a>
                <a href="{% url 'users:change-password' %}" class="list-group-item list-group-item-action">تغییر رمز
                    عبور</a>
                <a href="{% url 'users:edit-profile' %}" class="list-group-item list-group-item-action">تغییر شماره
                    تلفن</a>
            </div>
        </div>

        <div id="page-content-wrapper" class="col-9" align="center" style="padding-left: 50px; padding-right: 50px">
            {% for ad in ads %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row" align="center">
                {% endif %}

            <div class="col-lg-4 mb-4">
                <div class="card h-100">

                    {% if ad.image %}
                        <a href="/ads/view/{{ ad.id }}"><img class="card-img-top" src="{{ ad.image.image.url }}" alt=""></a>
                    {% else %}
                        <a href="/ads/view/{{ ad.id }}"><img class="card-img-top" src="/static/images/no_photo.png"
                                                             alt=""></a>
                    {% endif %}

                    <h4 class="card-header">{{ ad.name }}</h4>
                    <div class="card-body">
                        <p class="card-text">{{ ad.info }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="/ads/view/{{ ad.id }}" class="btn btn-primary">توضیحات بیشتر</a>
                        <div class="col-md-2"></div>
                        <button id="btn-archive{{ ad.id }}" type="button" name="archive"
                                {% if ad.is_archived %}class="btn btn-warning btn-archive disabled" {% else %}
                                class="btn btn-outline-warning btn-archive"
                                data-archived={{ ad.is_archived }} data-id={{ ad.id }} data-toggle="modal"
                                data-target="#myModal" {% endif %} style="margin-top: 5px"
                        >{% if ad.is_archived %} حذف
                            شده{% else %} حذف
                            کردن{% endif %}</button>

                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" dir="rtl">حذف آگهی</h4>
                        </div>
                        <div class="modal-body">
                            <p>آیا با حذف آگهی موافقید ؟</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">خیر</button>
                            <form action="{% url 'ads:archive_ad'  id=ad.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="is_archived" value="true">
                                <input type="hidden" name="id" id="modal_id">
                                <button type="submit" class="btn btn-success"
                                        style="margin-right: 5px;">بله
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            {% if forloop.counter0|add:1|divisibleby:3 or forloop.counter == ss|length %}
                </div>
            {% endif %}

            {% endfor %}
        </div>

        <script>
            $(document).ready(function () {
                $(".btn-archive").bind('click', function () {
                    const id = $(this).attr('data-id');
                    $('#modal_id').attr('value', id);
                })
            })

        </script>

    </div>

{% endblock content %}

