{% extends "master.html" %}

{% block content %}
    <head>
        <link rel="stylesheet" href="/static/css/carousel.css">
    </head>
    <div class="container" align="right" id="features">
        <div class="row" id="properties">
            <div class="col-lg-5">

                <label id="creation_time">{{ creation_time }}</label>

                <table class="table">
                    <tbody>

                    <tr>
                        <td>قیمت</td>
                        <td>{% if price == -1 %} توافقی {% else %} {{ price }} {% endif %}</td>
                    </tr>
                    <tr>
                        <td>استان</td>
                        <td>{{ state }}</td>
                    </tr>
                    <tr>
                        <td>شهر</td>
                        <td>{{ city }}</td>
                    </tr>
                    <tr>
                        <td>دسته</td>
                        <td>{{ category1 }} > {{ category2 }} > {{ category3 }}</td>
                    </tr>
                    <tr>
                        <td>شماره تماس</td>
                        <td>{{ user_phone }}</td>
                    </tr>
                    </tbody>
                </table>

                <p>{{ description }}</p>

            </div>

            <div class="col-lg-1">
            </div>

            <div class="col-lg-6">


                <div id="carousel" class="carousel slide" data-ride="carousel">
                    {#          This is optional, just for aesthetics#}
                    <ol class="carousel-indicators">
                        {% for img in images %}
                            {% if forloop.counter == 1 %}
                                <li data-target="#carousel" data-slide-to={{ forloop.counter0 }} class="active"></li>
                            {% else %}
                                <li data-target="#carousel" data-slide-to={{ forloop.counter0 }}></li>
                            {% endif %}
                            {#              <li data-target="#carousel" data-slide-to={{ forloop.counter0 }}></li>#}
                        {% endfor %}

                        {#            <li data-target="#carousel" data-slide-to="0" class="active"></li>#}
                        {#            <li data-target="#carousel" data-slide-to="1"></li>#}
                        {#            <li data-target="#carousel" data-slide-to="2"></li>#}
                    </ol>


                    <div class="carousel-inner" role="listbox">
                        {% if images %}
                            {% for img in images %}
                                {% if forloop.counter0 == 0 %}
                                    <div class="carousel-item active"
                                         style="background-image: url({{ img.image.url }})">
                                {% else %}
                                    <div class="carousel-item" style="background-image: url({{ img.image.url }})">
                                {% endif %}
                            </div>
                            {% endfor %}

                        {% else %}
                            <div class="carousel-item active"
                                 style="background-image: url('/static/images/no_photo.png')">
                            </div>
                        {% endif %}

                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


            </div>
        </div>

        <hr>

    </div>

    <script src="/static/js/relevant_product_carousel.js"></script>

    <script src="/static/js/Translator.js"></script>
{% endblock content %}