<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'ads:home' %}">ناتس</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {#          <a class="nav-link" href="/about" id="about">دربارهٔ ما</a>#}
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              پروفایل
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog"
                 style="padding-left: 18px">
              {% if user.member.type == 'S' %}
                <a class="dropdown-item" href="{% url 'ads:my-ads' %}">تبلیغ‌های من</a> {% endif %}
              <a class="dropdown-item" href="{% url 'users:change-password' %}">تغییر رمز عبور</a>
              <a class="dropdown-item" href="{% url 'users:edit-profile' %}">تغییر شماره تلفن و آدرس</a>
            </div>
          </li>
          {% if user.member.type == 'S' %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ads:create_advertisement' %}" id="create_advertisement">اضافه
                  کردن تبلیغ</a>
              </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}" id="logout">خروج</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}" id="login">ورود</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:buyer_signup' %}" id="buyer_signup">ثبت نام خریدار</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:seller_signup' %}" id="seller_signup">ثبت نام فروشنده</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% block master_content %}


{% endblock %}

<br><br>
